@import '@nuxt-starter/tailwincss';
@plugin "@iconify/tailwind4";

@theme {
  --font-nunito: Nunito, sans-serif;

  --text-nun-h1: 96px;
  --text-nun-h1--line-height: 104px;
  --text-nun-h2: 60px;
  --text-nun-h2--line-height: 68px;
  --text-nun-h3: 48px;
  --text-nun-h3--line-height: 56px;
  --text-nun-h4: 34px;
  --text-nun-h4--line-height: 42px;
  --text-nun-h5: 24px;
  --text-nun-h5--line-height: 36px;
  --text-nun-h6: 20px;
  --text-nun-h6--line-height: 28px;
  --text-nun-regular: 16px;
  --text-nun-regular--line-height: 24px;
  --text-nun-sm: 14px;
  --text-nun-sm--line-height: 24px;
  --text-nun-sx: 12px;
  --text-nun-sx--line-height: 24px;

  --background-image-gradient-1: linear-gradient(
    82deg,
    #c78dc3 -9.19%,
    #7c91db 110.08%
  );
  --background-image-gradient-2: linear-gradient(
    85deg,
    #c78dc3 -18%,
    #d98dcb 10.19%,
    #a88ed2 43.93%,
    #948fd7 80.07%,
    #7c91db 109.42%
  );
  --background-image-gradient-3: linear-gradient(
    86deg,
    #d16ba5 -14.21%,
    #ba83ca 15.03%,
    #9a9ae1 43.11%,
    #69bff8 74.29%,
    #52cffe 90.94%,
    #5ffbf1 111.44%
  );
  --background-image-gradient-4: linear-gradient(
    86deg,
    #1ebea5 -14.21%,
    #00b5c4 18.25%,
    #00a8e6 52.49%,
    #0096fd 81.67%,
    #157afb 111.44%
  );

  --color-primary-1: #f3ecfd;
  --color-primary-2: #e7d9fc;
  --color-primary-3: #b68ef6;
  --color-primary-4: #9d68d3;
  --color-primary-5: #7f39ef;
  --color-primary-6: #792fee;
  --color-primary-7: #6c1ded;

  --color-info-blue-1: #ebf3ff;
  --color-info-blue-2: #d7e8fe;
  --color-info-blue-3: #b6bafd;
  --color-info-blue-4: #4a97fc;
  --color-info-blue-5: #157afb;
  --color-info-blue-6: #0375fb;
  --color-info-blue-7: #046bf1;

  --color-success-green-1: #edfcfa;
  --color-success-green-2: #dcf9f5;
  --color-success-green-3: #83ecdc;
  --color-success-green-4: #3de1c8;
  --color-success-green-5: #1ebea5;
  --color-success-green-6: #1cb09a;
  --color-success-green-7: #199f8b;

  --color-warning-yellow-1: #fff9eb;
  --color-warning-yellow-2: #fff3d6;
  --color-warning-yellow-3: #ffe29a;
  --color-warning-yellow-4: #fed05d;
  --color-warning-yellow-5: #feca43;
  --color-warning-yellow-6: #fec534;
  --color-warning-yellow-7: #febf20;

  --color-error-red-1: #fbeef1;
  --color-error-red-2: #f7dee2;
  --color-error-red-3: #e17a8b;
  --color-error-red-4: #d9596e;
  --color-error-red-5: #d23852;
  --color-error-red-6: #c82d47;
  --color-error-red-7: #b72a41;

  --color-neutral-white: #fff;
  --color-neutral-black: #000;
  --color-neutral-gray-1: #f5f5f5;
  --color-neutral-gray-2: #ebebeb;
  --color-neutral-gray-3: #e0e0e0;
  --color-neutral-gray-4: #d4d4d4;
  --color-neutral-gray-5: #cccccc;
  --color-neutral-gray-6: #c2c2c2;
  --color-neutral-gray-7: #b8b8b8;
  --color-neutral-gray-8: #adadad;
  --color-neutral-gray-9: #a3a3a3;
  --color-neutral-gray-10: #999999;
  --color-neutral-gray-11: #8f8f8f;
  --color-neutral-gray-12: #858585;
  --color-neutral-gray-13: #7a7a7a;
  --color-neutral-gray-14: #707070;
  --color-neutral-gray-15: #666666;
  --color-neutral-gray-16: #5c5c5c;
  --color-neutral-gray-17: #525252;
  --color-neutral-gray-18: #474747;
  --color-neutral-gray-19: #3d3d3d;
  --color-neutral-gray-20: #333333;
  --color-neutral-gray-21: #292929;
  --color-neutral-gray-22: #1f1f1f;
  --color-neutral-gray-23: #141414;
  --color-neutral-gray-24: #0a0a0a;
}

@utility container {
  margin-inline: auto;

  @variant sm {
    max-width: 640px;
    padding-inline: 2rem;
  }
  @variant md {
    max-width: 768px;
    padding-inline: 1rem;
  }
  @variant lg {
    max-width: 1024px;
    padding-inline: 4rem;
  }
  @variant xl {
    max-width: 1280px;
    padding-inline: 5rem;
  }
  @variant 2xl {
    max-width: 1536px;
    padding-inline: 6rem;
  }
}

@utility gradient-outline-1 {
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(to right, #c78dc3, #7c91db);
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: inherit;
    z-index: -1;
  }
}

@utility gradient-outline-2 {
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(
      to right,
      #c78dc3,
      #d98dcb,
      #a88ed2,
      #948fd7,
      #7c91db
    );
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: inherit;
    z-index: -1;
  }
}

@utility gradient-outline-3 {
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(
      to right,
      #d16ba5,
      #ba83ca,
      #9a9ae1,
      #69bff8,
      #52cffe,
      #5ffbf1
    );
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: inherit;
    z-index: -1;
  }
}

@utility gradient-outline-4 {
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(
      to right,
      #1ebea5,
      #00b5c4,
      #00a8e6,
      #0096fd,
      #157afb
    );
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: inherit;
    z-index: -1;
  }
}

* {
  @apply font-nunito;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    86deg,
    #d16ba5 -14.21%,
    #ba83ca 15.03%,
    #9a9ae1 43.11%,
    #69bff8 74.29%,
    #52cffe 90.94%,
    #5ffbf1 111.44%
  );
  border-radius: 3px;
}
